<div>
<h1 class = "flip" style = "display:inline-block"> 串门 Meet for Real</h1>
</div>
<b class = "fadeIn">When will you be free to be visited?</b>
<%= form_for AvailableTime.new do |f| %>
	<%= f.date_field :from %> 
	<%= f.date_field :to %>
	<%= f.submit "Submit" %>
<% end %>

<!-- <form url="/available-time/new"> 
	<input type="date" name ="free"> from </input> 	
	<input type="date" name ="free"> to </input>
	<input type ="submit"></input>
</form> -->

<% if user_signed_in? %>
	<ul>
	<% @available_times.each do |available_time| %>
		<li>
			<%= available_time.user.try(:email) %>
			<%= available_time.from %>
			<%= available_time.to %>
		</li>
	<% end %>

	</ul>
<% end %>

<%= month_calendar events: @available_times do |date, available_times| %>
  <%= date %>
  <% available_times.each do |available_time| %>
   <li>
   <%= link_to available_time.user.name, user_path(available_time.user), style: "color: black" %>
  </li>
<% end %>
<p class = "available_number">
  <%= available_times.map(&:user).count %>
</p>

<%= "out of #{User.count} available" %>
<% end %>